@import "../../common/styles/sass/variables";

.Project {
  width: 540px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  box-shadow: -6px 10px 40px rgba(0, 0, 0, 0.06);
  background: $bgSecondColor;

  .projectLogo {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    &::before {
      position: absolute;
      content: '';
      background-color: #000000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    .showBtn {
      padding: 10px 20px;
      background-color: #1f1f20bf;
      color: $textColor;
      font-size: 20px;
      border-radius: 10%;
      position: relative;
      z-index: 1;
      text-decoration:none;
      -webkit-transition:0.3s all ease;
      transition:0.3s ease all;
      cursor: pointer;
      &:before {
        -webkit-transition:0.5s all ease;
        transition:0.5s all ease;
        position:absolute;
        top:0;
        left:50%;
        right:50%;
        bottom:0;
        opacity:0;
        content:'';
        background-color:$primaryColor;
        z-index:-2;
        border-radius: 10%;
      }
      &:hover {
        &:before {
          -webkit-transition:0.5s all ease;
          transition:0.5s all ease;
          left:0;
          right:0;
          opacity:1;
        }
      }
      &:focus {
        &:before {
          transition:0.5s all ease;
          left:0;
          right:0;
          opacity:1;
        }
      }
    }
    }
  }

  .descriptionInfo {
    padding: 25px 20px;
    text-align: start;

    .projectTitle {
      margin-bottom: 15px;
    }

    .projectDescription {
    }
  }
  @media (max-width: 1200px) {
    width: 450px;
  }
  @media (max-width: 990px) {
    width: 330px;
  }
