.Skill {
    width: 280px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.skillLogo {
    width: 33.3%;
}

.skillTitle {
}

.skillDescription {
}