@import "../common/styles/sass/variables";

.MainBlock {
  background-color: $bgFirstColor;
  height: 100vh;

  .mainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;

    .welcomeText {
      width: 60%;
      text-align: left;
      span {
        font-size: 16px;
      }
      h1 {
        font-size: 50px;
        font-weight: 700;
        padding: 10px 0 10px;
      }
      h1 span {
        font: 700 50px/1.2 'Josefin Sans', sans-serif;
        position: relative;
        display: inline-block;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 20px;
          width: 100%;
          z-index: -1;
          background: $primaryColor;
        }
      }
      p {
        font-size: 27px;
      }
      @media (max-width: 768px) {
        margin: 0 auto 20px;
      }
    }
    .avatarModule{
      transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      pointer-events: none;
      position: relative;
      display: table;
      margin: 0 auto;
      width: 40%;
      .myPhoto img {
        transform: translate3d(-16.5px, 0.7px, 0px);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        position: relative;
        display: block;
        left: 0px;
        top: 0px;
        max-height: 430px;
        background-color: #fff;
      }
      .avatarsBack {
        transform: translate3d(-33.1px, 1.3px, 0px);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        position: absolute;
        display: block;
        left: 0px;
        top: 0px;
        bottom: 0;
        z-index: -9;
        height: 110%;
        width: 104%;
        border: 5px solid #4e93e6;
        right: 0;
        margin-left: 8%;
        margin-top: -8%;
      }
      @media (max-width: 768px) {
        margin: 20px auto 0;
        min-width: 250px;
        }
    }

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 100px 0;
  }
}