@import "../common/styles/sass/variables";

.MyProjectsBlock {
  background-color: $bgFirstColor;
  padding: 100px 0;

  .MyProjectsBlockContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Projects {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 680px) {
        flex-direction: column;
      }
    }
  }
}


