.MyProjectsBlock {
    background-color: #aa8395;
    height: 100vh;
}

.MyProjectsBlockContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}