.MainBlock {
    background-color: #cbe073;
    height: 30vh;
}

.mainContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contentText {

}

.hireBtn {
 width: 150px;
}