.MySkillsBlock {
    background-color: #785f89;
    padding: 50px 0;
}

.MySkillsBlockContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1020px) {
    .Skills {
        flex-direction: column;
    }
}