.MySkillsBlock {
    background-color: #785f89;
    height: 100vh;
}

.MySkillsBlockContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}