.Footer {
    background-color: #6af3b9;
    padding: 50px 0;
}

.footerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border: 1px solid black;
    margin-bottom: 20px;
}

@media (max-width: 425px) {
    .iconsBlock {
        width: 100%;
    }
}

.icon {
    background-color: #777;
    width: 50px;
    height: 50px;
}