@import "../common/styles/sass/variables";

.Nav {
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    font: inherit;
    color: inherit;
  }
}

