.Nav {
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Nav a {
    text-decoration: none;
    color: black;
}