@import "../common/styles/sass/variables";

.Nav {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    &:hover{
      color: $primaryColor;
    }
  }
  .active{
    color: $primaryColor;
  }
}

