.Contacts {
    background-color: #c29b65;
    padding: 50px 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.contactsForm {
    margin: 40px 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid black;
}

.contactsForm input{
    margin-bottom: 15px;
    padding: 10px 0;
    width: 100%;
}
.contactsForm textarea{
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

@media (max-width: 470px) {
    .contactsForm {
        width: 250px;
    }
}
